5.1 Print

In [1]:
print("Saya sedang belajar Algoritma")

Saya sedang belajar Algoritma

In [2]:
print('Saya sedang belajar jupyter notebook')

Saya sedang belajar jupyter notebook

In [3]:
print("I can't speak korean")

I can't speak korean

In [4]:
print('Nadiska berkata, "Kamu sedang apa nad?"')

Nadiska berkata, "Kamu sedang apa nad?"

In [5]:
mahasiswa = 2
uang_di_dompet = 100000
uang_di_saku = 20000
print(mahasiswa)
print(uang_di_dompet)
print(uang_di_saku)

2
100000
20000

In [6]:
nama_depan = "Putu "
nama_tengah = "Nadiska "
nama_belakang = "Cahaya"
print(nama_depan + nama_tengah + nama_belakang)

Putu Nadiska Cahaya

5.2 Input

In [7]:
nama = input("Siapakah nama Anda? ")
kegiatan = input("Apa kegiatan yang Anda lakukan sekarang? ")
print("Bisa yuk bisa " + kegiatan + " nya, " + nama + "!")

Siapakah nama Anda? Nadiska
Apa kegiatan yang Anda lakukan sekarang? belajar dan kepanitian
Bisa yuk bisa belajar dan kepanitian nya, Nadiska!

In [8]:
umur = input("Berapa umur Anda sekarang? ")
nama = input("Siapa nama Anda? ")
print("Ulang Tahun " + nama + " yang ke " + umur + ", sukses dan sehat selalu ya ")

Berapa umur Anda sekarang? 18
Siapa nama Anda? Nadiska
Ulang Tahun Nadiska yang ke 18, sukses dan sehat selalu ya

5.3 Tipe Data pada Python

In [9]:
uang_di_saku = input("Berapakah jumlah uang di saku Anda? ")
uang_di_dompet = input("Berapakah jumlah uang di dompet Anda? ")
uang_di_bank = input("Berapakah jumlah uang di bank? ")
total_uang = int(uang_di_saku) + int(uang_di_dompet) + int(uang_di_bank)
print("Total uang Anda adalh Rp" + str(total_uang))

Berapakah jumlah uang di saku Anda? 20000
Berapakah jumlah uang di dompet Anda? 100000
Berapakah jumlah uang di bank? 400000
Total uang Anda adalh Rp520000

In [10]:
type(uang_di_saku)

str

In [11]:
type(uang_di_dompet)

str

In [12]:
type(uang_di_bank)

str

In [13]:
type(total_uang)

int

In [14]:
bilangan_pertama = input("Masukkan bilangan pertama ")
bilangan_kedua = input("Masukkan bilangan kedua ")
bilangan_ketiga = input("Masukkan bilangan ketiga ")
jumlah = float(bilangan_pertama) + float(bilangan_kedua) + float(bilangan_ketiga)
print("Jumlah ketiga bilangan tersebut adalah " + str(jumlah))

Masukkan bilangan pertama 2
Masukkan bilangan kedua 3
Masukkan bilangan ketiga 7
Jumlah ketiga bilangan tersebut adalah 12.0

In [15]:
bilangan_pertama = input("Masukkan bilangan pertama ")
bilangan_kedua = input("Masukkan bilangan kedua ")
jumlah = float(bilangan_pertama) - float(bilangan_kedua)
print("Selisih kedua bilangan tersebut adalah " + str(jumlah))

Masukkan bilangan pertama 9
Masukkan bilangan kedua 2
Selisih kedua bilangan tersebut adalah 7.0

In [16]:
bilangan_pertama = input('Masukkan bilangan pertama ')
bilangan_kedua = input('Masukkan bilangan kedua ')
jumlah = float(bilangan_pertama) - float(bilangan_kedua)
print('Selisih kedua bilangan tersebut adalah ' + str(jumlah))

Masukkan bilangan pertama 5
Masukkan bilangan kedua 8
Selisih kedua bilangan tersebut adalah -3.0

In [17]:
bilangan_pertama = input('Masukkan bilangan pertama ')
bilangan_kedua = input('Masukkan bilangan kedua ')
jumlah = float(bilangan_pertama) * float(bilangan_kedua)
print('Hasil perkalian kedua bilangan tersebut adalah ' + str(jumlah))

Masukkan bilangan pertama 10
Masukkan bilangan kedua 7
Hasil perkalian kedua bilangan tersebut adalah 70.0

5.4 Formatted String

In [18]:
nama = 'Sri'
pekerjaan = 'guru bahasa indonesia'
institusi = 'SMAK Harapan Denpasar'
hobi = 'membaca buku'

In [19]:
print(f'{nama} adalah seorang {pekerjaan} di {institusi} dan memiliki hobi {hobi}.')

Sri adalah seorang guru bahasa indonesia di SMAK Harapan Denpasar dan memiliki hobi membaca buku.

In [20]:
nama = 'Nadiska'
asal = 'bali'
pekerjaan = 'mahasiswa'
universitas = 'Universitas Udayana'
falkutas = 'MIPA'
prodi = 'matematika'

In [21]:
print(f'Perkenalkan saya {nama} berasal dari {asal}, saya merupakan {pekerjaan} dari {universitas} falkutas {falkutas} dan prodi {prodi}.')

Perkenalkan saya Nadiska berasal dari bali, saya merupakan mahasiswa dari Universitas Udayana falkutas MIPA dan prodi matematika.

5.5 Strings Index

In [22]:
judul = 'Cintamu yang Sia-Sia'

In [23]:
print(judul[0:10])

Cintamu ya

In [24]:
print(judul[19:21])

a

In [25]:
print(judul[13:17])

Sia-

In [26]:
print(judul[18:25])

ia

In [27]:
print(judul[:])

Cintamu yang Sia-Sia

5.6 Strings Methods

In [28]:
judul = 'Cinta Itu Sakit'

In [29]:
print(len(judul))

15

In [30]:
judul.upper()

'CINTA ITU SAKIT'

In [31]:
judul.lower()

'cinta itu sakit'

In [32]:
judul.find('cepat')

-1

In [33]:
judul.find("Sakit")

10

In [34]:
judul.replace('Cinta', 'Hati')

'Hati Itu Sakit'

In [35]:
print('Itu' in judul)

True

In [36]:
print("mati" in judul)

False

5.7 Operasi Matematika di Python

In [37]:
print(7.5+3)

10.5

In [38]:
print(7+3)

10

In [39]:
print(5-7)

-2

In [40]:
print(3.5*20)

70.0

In [41]:
print(20/3)

6.666666666666667

In [42]:
print(7%10)

7

In [43]:
print(3**-2)

0.1111111111111111

5.8 Operator Perbandingan di Python

In [44]:
x = 5>1
print(x)

True

In [45]:
x = 7<1
print(x)

False

In [46]:
x = 0 != 7
print(x)

True

In [47]:
x = 2 != 5
print(x)

True

In [48]:
x = 1==3
print(x)

False

In [49]:
x = 5<10
print(x)

True

5.9 Operator Logika di Python

In [50]:
apel = 5
pisang = 10
print(apel > 1 and pisang < 11)

True

In [51]:
print(apel > 4 and pisang > 7)

True

In [52]:
print(apel < 4 and pisang > 9)

False

In [53]:
print(apel <2 and pisang > 5)

False

5.10 Operator if di Python

In [54]:
nilai = float(input("Nilai Anda adalah "))
if nilai <= 80:
    print("Anda mendapatkan nilai A")
    print("Selamat, nilai Anda sangat baik")

Nilai Anda adalah 80
Anda mendapatkan nilai A
Selamat, nilai Anda sangat baik

In [55]:
nilai = float(input("Nilai kuis Anda adalah "))
if nilai >=65 and nilai <=75:
    print("Anda mendapatkan nilai B")
    print("Nilai Anda cukup, bisa ditingkatkan lagi")

Nilai kuis Anda adalah 65
Anda mendapatkan nilai B
Nilai Anda cukup, bisa ditingkatkan lagi

In [56]:
nilai = float(input("Nilai ulangan Anda adalah "))
if nilai <=65:
    print("Anda mendapatkan nilai B")
    print("Nilai Anda kurang baik, mohon ditingkatkan")

Nilai ulangan Anda adalah 65
Anda mendapatkan nilai B
Nilai Anda kurang baik, mohon ditingkatkan

In [57]:
berat = float(input("Berapakah berat badan Anda? "))
kg_atau_g = input("Berat dalam kg atau g? ")

Berapakah berat badan Anda? 50
Berat dalam kg atau g? kg

In [58]:
berat = float(input('Berapakah berat badan Anda? '))
kg_atau_g = input('Berat dalam kg atau g? ')
if kg_atau_g.upper() == 'KG':
    berat = berat*1000
    print("Berat Anda adalah " + str(berat) + "g.")
elif kg_atau_g.upper() == 'G':
    berat = berat/1000
    print("Berat Anda adalah " + str(berat) + "kg.")

Berapakah berat badan Anda? 50
Berat dalam kg atau g? kg
Berat Anda adalah 50000.0g.

5.11 While loop

In [59]:
a = 0
while a < 4:
    print("Angka " + str(a)+" masih dibawah 4")
    a += 1

Angka 0 masih dibawah 4
Angka 1 masih dibawah 4
Angka 2 masih dibawah 4
Angka 3 masih dibawah 4

In [60]:
a = 0
while a < 10:
    print("Angka " + str(a)+" masih dibawah 10")
    a += 2

Angka 0 masih dibawah 10
Angka 2 masih dibawah 10
Angka 4 masih dibawah 10
Angka 6 masih dibawah 10
Angka 8 masih dibawah 10

In [61]:
a = 1
while a < 4:
    print(a* "o")
    a += 1

o
oo
ooo